* {
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 12px;
	font-family: "Consolas";
	font-weight: 900;
}

#app {
	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;

	user-select: none;
}

span {
	display: inline-block;
	width: 30ch;

	text-align: center;
}

.state,
.version,
.listen,
.display {
	margin-bottom: 0.25rem;
	word-break: break-all;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.listen {
	user-select: text;
}
